.wrapper {
  width: 310px;
  height: auto;
  max-height: 580px;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-list {
  height: calc(622px - 80px);
  overflow: auto;
}
