.card {
  width: 100%;
  max-width: 380px;
  min-width: 200px;
  /* min-height: 80px; */
  /* max-height: 150px; */
  max-height: 150px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 6px 8px 9px 8px;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  background-color: #fff;
  margin-bottom: 10px;
}

.ticket-row-1,
.ticket-row-2,
.ticket-row-3 {
  width: 96%;
}

.ticket-row-3 {
  display: flex;
  align-items: center;
}

.bi-exclamation-square-fill {
  font-size: small;
  color: #585858;
}

.exclamation-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.8px solid rgb(150, 150, 150);
  border-radius: 4px;
  padding: 3px;
  margin-right: 5px;
}

.ticket-row-2 {
  margin-bottom: 12px;
}

.ticket-row-1 {
  min-height: 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-photo {
  border: 1px solid gray;
}

.ticket-userId {
  width: fit-content;
  height: 100%;
  color: #808080;
  font-weight: 600;
}

.user-photo {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
  font-weight: 600;
}

.title {
  font-weight: 600;
  font-size: medium;
  display: flex;
  gap: 2px;
}

.bi-check-circle-fill {
  color: blue;
}

.bi-circle-fill {
  color: gray;
  font-size: small;
}

.status,
.description {
  display: block;
}

.feat-req {
  border: 0.8px solid rgb(150, 150, 150);
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3px;
  padding: 3px;
  border-radius: 4px;
}

.Feature-description {
  display: block;
  font-size: small;
  color: #808080;
  font-weight: 600;
}

.feat-req-icon {
  display: flex;
  align-items: center;
}
